body {
    font-family: 'Roboto', sans-serif;
}
.typo-advent {
    font-family: 'Advent Pro', sans-serif;
}
.typo-quicksand {
    font-family: 'Quicksand', sans-serif;
}
.typo-roboto {
    font-family: 'Roboto', sans-serif;
}
.typo-wire-one {
    font-family: 'Wire One', sans-serif;
}

.section-title {
    text-decoration: none; 
    position: relative; 
}   

.section-title:after {
    position: absolute;
    content: '';
    height: 1px;
    bottom: -10px;
     
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 80%;
    transition:.5s;

    background: linear-gradient(to right, rgba(200, 200, 200, 0), rgb(130, 130, 130), rgba(60, 60, 60, 0));
}

html body section:hover .section-title:after {
    width: 95%;
    background: linear-gradient(to right, rgba(230, 230, 230, 0), rgb(180, 180, 180), rgba(120, 120, 120, 0));
}

html.dark body section:hover .section-title:after {
    width: 95%;
    background: linear-gradient(to right, rgba(230, 230, 230, 0), rgb(180, 180, 180), rgba(120, 120, 120, 0));
}

.image-overlay-container {
    position: relative;
    width: 50%;
}
  
.image-overlay-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.image-overlay-middle {
    background-color: #00000084;
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  
.image-overlay-container:hover .image-overlay-image {
    opacity: 1;
}
  
.image-overlay-container:hover .image-overlay-middle {
    opacity: 1;
}
  
.image-overlay-text {
    padding: 16px 32px;
}